<!-- blog footer -->
<div class="olu">
  <div class="container-fluid">
    <div class="row">
      <div class=" col-sm-12 col-md-3">
        <h3> <span>TheGray</span><span>WolfBlog</span></h3>
        <p>We are a digital platform that offers varying services, customers satisfaction is our drive without mincing our standard!</p>
      </div>
      <div class="col-sm-12 col-md-3">
        <h3>About Us</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Hosting and Domain</a></li>
          <li><a href="#">Buy Data</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">News</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3">
        <h3>TRAINING</h3>
        <ul>
          <li><a href="#">Front End</a></li>
          <li><a href="#">Server-side</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">django</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3">
        <h3>OFFICE</h3>
        <p>admin@valuemaxoniline.com</p>
        <p>09075293329</p>
      </div>
    </div>
  </div>
</div>