{% extends "base.html" %}

{% block content %}

{% block title %}
Welcome to Single
{% endblock %}


<style>
  #sam{
    border:1px solid rgb(81, 77, 77);
    border-radius: 20px; 
  }
  .olu{
          background: black;
          color: white;
          width: 100%;
  }
</style>
<br>
    <div class="container">

      <div class="row ">
      <div class="col-md-8" id="sam">
          <div  id="ric">
           <div class="col-12"><h3>{{ post.title }}</h3></div>
           <br>
          
        
           <img src="{{ post.image.url }}" alt="show please" width="100%"> <br> <br>
           <div class="col-12"><p>{{ post.content }}</p></div>
              <i>{{ post.author }}</i> <br>
              {{ post.publish }} <br><br>
          </div>
          
      </div>
      
      <div class="col-md-4">
        <div id="">
          
           <div class="row">
              <div class="col-lg-12">
                <h1>Breaking News</h1>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat non odio ea repellendus cum eveniet aut dignissimos neque atque necessitatibus modi facilis, praesentium exercitationem debitis voluptates quasi ex quae quibusdam. Autem, mollitia. Soluta recusandae, quaerat nemo ut perspiciatis fuga!</p>
              </div>
             
           </div>
           <div class="row">
            <div class="col-lg-12">
              <img src="media/img.jpeg" width="100%" alt="">
              <h1>Breaking News</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat non odio ea repellendus cum eveniet aut dignissimos neque atque necessitatibus modi facilis, praesentium exercitationem debitis voluptates quasi ex quae quibusdam. Autem, mollitia. Soluta recusandae, quaerat nemo ut perspiciatis fuga!</p>
            </div>
           </div>
            <div class="row">
              <div class="col-lg-12">
                <img src="media/img.jpeg" width="100%" alt="">
                <h1>Breaking News</h1>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat non odio ea repellendus cum eveniet aut dignissimos neque atque necessitatibus modi facilis, praesentium exercitationem debitis voluptates quasi ex quae quibusdam. Autem, mollitia. Soluta recusandae, quaerat nemo ut perspiciatis fuga!</p>
              </div>
           
         </div>
        </div>
      </div>

      </div>

    </div>

<br>
<br>

    {% include 'footer.html' %}


    {% endblock %}